<h1 class="text_center">Welcome to a TV Series Episode Management Site</h1>

<p class="text_left">
	This site is intended to be used to keep track of TV series one watches and the current episode that 
	hasn't been watched corresponding to that particular TV series. Newly added TV series start off at 
	episode 1, but may be edited and changed (on creation or any time afterwards) to another episode 
	number. Episodes can be easily managed with a single click to advance the episode counter to the next 
	episode, after the current episode has been watched. Completed TV series will be moved to a separate 
	list, which can be displayed on request, to review older TV series one has watched in the past.
</p>

<<<<<<< HEAD
<p>
	<%= link_to "List", "lists" %>
</p>
<script type="text/javascript">
	$(function() {
		
	});
</script>
=======
>>>>>>> 1093a01759a7522141bab1bf47f729da3bf16adc
