.container{
  a{
    &:link, &:visited, &:active, &:hover, &:focus{
      text-decoration: none
    }
  }
}

#top_notice {
  position: absolute;
  top: 0;
  width: 750px;
}

#ongoing_tvshow, #completed_tvshow {
  width: auto;
  padding: 10px 0;
  border: solid 2px;
  border-radius: 10px;
  border-color: gray;

  > div{
    padding: 0 10px;
  }
}

.border-bottom{
  border-bottom: 1px solid gray;
}
.entry:hover{
  background-color: aliceblue;
}

/*
  * This is a manifest file that'll automatically include all the stylesheets available in this directory
  * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
  * the top of the compiled file, but it's generally better to create a new file per style scope.
  *= require_self
  *= require_tree .
*/

@import "bootstrap-sprockets";
@import "bootstrap";